#form-edit {
    .form-container {
        display: inline-block;
        margin: 10px 0;
        display: flex;

        label {
            font-size: 20px;
            margin-right: 100px;
            display: block;
            min-width: 100px;

            .label-form {
                display: block;
                width: 600px;
            }
        }

        input {
            width: 300px;
            height: 35px;
        }

        textarea {
            width: 300px;
            height: 60px;
        }
    }

    .submit {
        background-color: #1f1f1f;
        display: inline-block;
        padding: 10px;
        color: dodgerblue;
        border: 1px solid dodgerblue;
        margin-left: 70%;
    }
}
